.App {
  text-align: center;
}

.page-body {

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

div {
  overflow: auto;
}

.policy-card div {
  overflow: visible;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

a {
  color: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

.page-sub-title {
  display: inline;
  padding-right: 30px;
}

div.page-sub-title-div {
  padding-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
